.header {
	font-family: "Press Start 2P";
	background-color: #30113b;
	color: #6682d2;
	padding: 20px;
	border: 2px #9370DB solid;
	text-shadow: 2px 2px yellow;
}


h2 {
	padding: 10px;
	font-style: bold;
}
.about {
	background-color: #b666d1;
	color: white;
	font-family: Helvetica;
	font-style: italic;
	font-size: 18px;
}
html {
	background-color: #d2a1e3;
	font-family: "Bree Serif";
}

.image {
	opacity: 0.5;
}
.tab {
	margin-left: 40px;
}

.grid {
  border: 2px pink solid;
  height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 700px 150px 150px 150px;
  grid-gap: 10px 15px;

}

.grid2 {
  border: 2px pink solid;
  background-size: cover;
  display: grid;
  height:550px;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-gap: 10px 15px;
}

.aboutme {
  background-color: #30113b;
  color: white;
  border-radius: 10px;
  border: 2px pink solid;
}



.box {
  background-color: #30113b;
  color: white;
  border-radius: 10px;
  border: 2px pink solid;
 
}
.table {
	display: table;
	margin: 0 auto;
}

ul#nav {
	min-width:696;
	word-spacing: 300px;
}
ul#nav {
	background-color: #30113b;
	font-color: white;
	min-width:696px;
	list-style: none;
	padding-top: 20px;
	padding-left: 68px;
	padding-right: 68px;
	padding-bottom: 20px;
}
ul#nav li {
	display: inline;
	width: 100%;
}

.navi {
	text-decoration: none;
	color: white;
}
.home {
	text-decoration: none;
	
}

a {
	text-decoration: none;
	color: inherit;
}
a .resourcelink {
	text-decoration: none;

	color: white;
}

.navgrid {
  border: 2px pink solid;
  background-size: cover;
  display: grid;
  height: 100px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;

}

.nav {
  background-color: #30113b;
  color: white;
  font-size: 25px;
  align-items: center;
  border: 2px pink solid;
  text-align: center;
}

.scopequestion {
	padding: 50px 50px;
}
.submit {
	margin-left: 50%;
	margin-top: 100%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #30113b;
  color: white;
  padding: 16px;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #30113b;}